VITE_SUPABASE_URL=https://yrmhlbreqiqfjtwvrxep.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NJv9oR6E8VSR6LMIVaXFMQ_nUJz47NK
VITE_SUPABASE_ANON_KEY=sb_publishable_NJv9oR6E8VSR6LMIVaXFMQ_nUJz47NK
